@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;          /* vertical */
    height: 4px;         /* horizontal */
}

::-webkit-scrollbar-track {
    background: bg-gray-900/80;
}

::-webkit-scrollbar-thumb {
    background-color: bg-gray-900/80;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: bg-gray-900/80; /* subtle hover instead of transparent */
}

@layer components {
  .auth-input {
    @apply mt-1 block w-full px-3 py-2 bg-gray-700 border border-gray-600 rounded-md text-white placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-fuchsia-500 focus:border-fuchsia-500;
  }
  .auth-error {
    @apply text-red-400 text-xs mt-1;
  }
}